@use "../abstracts" as *;

section {
  .content {
    padding: 44px 32px;
    background-color: $bg-dark-blue;
    color: white;
    @include flex(column, 20px);
    ul {
      @include font($font-inter, 0.875rem, white, 600);
      list-style: none;
      @include flex(column, 10px);
      margin: 20px 0;
      padding: 0;
    }
    .logo {
      width: 30%;
      margin-bottom: 20px;
    }
    .get-help {
      @include font($font-inter, 1.125rem, white, 800);
      border-bottom: $gray-secondary 2px solid;
    }
    .contact {
      @include font($font-inter, 1.125rem, white, 800);

      padding-bottom: 10px;
      border-bottom: $gray-secondary 2px solid;
    }
    .copyright {
      @include font($font-poppins, 0.75rem, $gray-primary, 400);
    }
  }
}
