@use "../abstracts" as *;

.nav-content {
  padding-inline: 37px;
  padding-block: 19px;
  @include screen-md {
    padding-top: 14px;
    padding-inline: 30px;
  }
  position: relative;

  .nav-logo {
    cursor: pointer;
    height: 36px;
    @include screen-md {
      height: 46px;
    }
  }

  .nav-menu {
    .nav-menu-icon {
      width: 32px;
      height: auto;
      cursor: pointer;

      @include screen-md {
        display: none;
      }
    }

    .nav-menu-items {
      opacity: 0;
      @include flex(row, 20px);
      @include screen-md {
        position: static;
        opacity: 1;
        background-color: transparent;
        align-items: center;
      }
      -webkit-transition: all 1s ease-in-out;
      -moz-transition: all 1s ease-in-out;
      -ms-transition: all 1s ease-in-out;
      -o-transition: all 1s ease-in-out;
      transition: all 1s ease-in-out;
      position: absolute;
      right: 0;
      left: 0;
      top: 100%;
      width: 100%;
      background-color: $gray-secondary;
      padding: 10px;
      &.open {
        opacity: 1;
      }
      .cart-image {
        position: relative;
        cursor: pointer;
        img {
          width: 13px;
          height: auto;
          margin-right: 80px;
        }
        .circle {
          position: absolute;
          text-align: center;
          top: 0;
          left: 10px;
          font-size: 0.5rem;
          color: white;
          background-color: $orange-primary;
          width: 15px;
          height: 15px;
          -webkit-border-radius: 50%;
          -moz-border-radius: 50%;
          -ms-border-radius: 50%;
          -o-border-radius: 50%;
          border-radius: 50%;
        }
      }

      .login {
        @include button(white, 10px, 10px, 0);
        color: $blue-primary;
        border: $blue-primary 2px solid;
      }
      .signup {
        @include button($blue-primary, 10px, 10px, 0);
        color: white;
      }
    }
  }
}
