<section class="shopping-cart">
  @if(isCheckout()==false){
  <div class="content">
    <div class="text">
      <div class="cart">
        <app-breadcrumb></app-breadcrumb>
        <h2>Shopping Cart</h2>
        <p class="mb-4">3 Course(s) in cart</p>
        <div class="cards">
          @for(course of cousesService.coursesCart(); track $index){
          <app-cart-card [course]="course"></app-cart-card>
          }
        </div>
      </div>
    </div>
    <div class="details">
      <app-order-price
        [totalDiscount]="cousesService.totalDiscount()"
        [totalPrice]="cousesService.totalPrice()"
      ></app-order-price>
      <button class="proceed" routerLink="checkout">Proceed to Checkout</button>
    </div>
  </div>
  }@else {
  <router-outlet></router-outlet>
  }
</section>
