<section class="numbers">
  <div class="numbers-container">
    @if(isBrowser){
    <div class="number-increase text-md-center">
      <om-number-ticker
        [countTo]="250"
        styleClass="ticker-custom-style"
      ></om-number-ticker>
      <p>Courses by our best mentors</p>
    </div>
    <div class="vertical-line"></div>
    <div class="number-increase text-md-center">
      <om-number-ticker
        [countTo]="1000"
        styleClass="ticker-custom-style"
      ></om-number-ticker>
      <p>Courses by our best mentors</p>
    </div>
    <div class="vertical-line"></div>
    <div class="number-increase text-md-center">
      <om-number-ticker
        [countTo]="15"
        styleClass="ticker-custom-style"
      ></om-number-ticker>
      <p>Courses by our best mentors</p>
    </div>
    <div class="vertical-line"></div>
    <div class="number-increase text-md-center">
      <om-number-ticker
        [countTo]="2400"
        styleClass="ticker-custom-style"
      ></om-number-ticker>
      <p>Courses by our best mentors</p>
    </div>
    }
  </div>
</section>
