<div class="course-card">
  <div class="card-content">
    <div class="image">
      <img
        [src]="course()?.image"
        alt="{{ course()?.title }}"
        class="course-image"
      />
      @if(course()?.discount! >0){
      <p class="discount">-${{ course()?.discount }}</p>
      }
      <img src="icons/cart.svg" alt="" class="cart" />
    </div>
    <div class="d-flex justify-content-between">
      <p class="price">${{ course()?.price }}</p>
      <p class="category">{{ course()?.category }}</p>
    </div>
    <div class="details">
      <p class="course-name" [routerLink]="'/courses/' + course()?.title">
        {{ course()?.title }}
      </p>
      <p class="instructor">By {{ course()?.author }}</p>
      <p class="rating">
        <i class="fa-solid fa-star"></i>
        <i class="fas fa-star"></i>
        <i class="fas fa-star"></i>
        <i class="fas fa-star"></i>
        <i class="fas fa-star"></i>
        ({{ course()?.ratingCount }} Rating)
      </p>
      <p class="info">
        {{ course()?.hours }} Total Hours. {{ course()?.lectures }} Lectures.
        {{ course()?.level }}
      </p>
    </div>
  </div>
</div>
