<div class="card">
  <div class="image">
    <img [src]="course()?.image" alt="{{ course()?.title }}" />
    @if(course()?.discount! >0){
    <p class="discount">-${{ course()?.discount }}</p>
    }
  </div>
  <div class="card-details">
    <h3 class="course-name" routerLink="/courses/{{ course()?.title }}">
      {{ course()?.title }}
    </h3>
    <p class="instructor">By {{ course()?.author }}</p>
    <div class="rating">
      <div class="stars">
        <i class="fa-solid fa-star"></i>
        <i class="fas fa-star"></i>
        <i class="fas fa-star"></i>
        <i class="fas fa-star"></i>
        <i class="fas fa-star"></i>
      </div>
      <p class="line">|</p>
      <p>
        {{ course()?.hours }} Total Hours. {{ course()?.lectures }} Lectures.
      </p>
    </div>
    @if(deviceService.isMobileDevice()){
    <p class="price">${{ course()?.price }}</p>
    <p class="remove">Remove</p>
    } @else {
    <p class="remove">Remove</p>
    }
  </div>
  @if(!deviceService.isMobileDevice()){
  <p class="price">${{ course()?.price }}</p>
  }
</div>
