//Colors
$blue-primary: #00b8ff;
$green-primary: #a6e51c;
$orange-primary: #fd6f00;
$pink-primary: #f232bd;
$gray-primary: #777e90;
$gray-secondary: #cddfe5;
$gray-primary2: #696984;
$text-dark-blue: #2f327d;
$bg-dark-blue: #0e1f51;
$bg-light-blue: #e4f8ff;
$gold: #eab308;

//Fonts
$font-poppins: " Poppins ", sans-serif;
$font-dmsans: " DM Sans ", sans-serif;
$font-inter: " Inter ", sans-serif;

//font-sizes
$font-sm-default: 16px;
$font-md-default: 16px;
$font-lg-default: 18px;
