@use "../abstracts" as *;

input[type="radio"] {
  transform: scale(1.5);
  -webkit-transform: scale(1.5);
  -moz-transform: scale(1.5);
  -ms-transform: scale(1.5);
  -o-transform: scale(1.5);
}

section.checkout {
  .data {
    .bread {
      @include flex(row, 20px);
      h2 {
        @include font($font-inter, 1.33rem, "", 600);
      }
    }
    .checkout-form {
      border: #e2e8f0 2px solid;
      border-radius: 8px;
      -webkit-border-radius: 8px;
      -moz-border-radius: 8px;
      -ms-border-radius: 8px;
      -o-border-radius: 8px;
      padding: 16px;
      .country-input,
      .state-input {
        label {
          @include font($font-inter, 1rem, "", 600);
        }
      }

      .payment-details {
        @include font($font-inter, 0.778rem, "", 400);
      }

      p.payment-method,
      .payment-details p.credit-debit {
        @include font($font-inter, 1rem, "", 600);
      }

      .payment-details {
        @include flex(column, 20px);
        background: #f8fafc;
        -webkit-border-radius: 8px;
        -moz-border-radius: 8px;
        -ms-border-radius: 8px;
        -o-border-radius: 8px;
        border-radius: 8px;
        padding: 16px;
      }
    }
  }
}
