@use "../abstracts" as *;

.hero-header {
  @include screen-md {
    display: none;
  }
  .hero-text {
    @include flex(column, 20px);
    padding: 32px;

    @include screen-md {
      width: 50%;
      padding-inline: 100px;
    }

    .title {
      @include font($font-dmsans, 2.5rem, "", 700);
      @include screen-md {
        font-size: 0.75rem;
      }
    }
    .desc {
      @include font($font-poppins, "", $gray-primary, 400);
    }
    gap: 19px;
    .get-started-button {
      @include button($blue-primary, 28px, 8px, 8px);
      @include font($font-inter, 0.857rem, white, 600);
    }
  }
  img {
    padding: 0;
    width: 100%;
    @include screen-md {
      display: none;
    }
  }
}

.gallery {
  @include screen-md {
    @include flex(row, 20px);
  }
  background-color: $bg-light-blue;
  padding-block: 40.25px;
  .title {
    @include font($font-poppins, 1.875rem, $text-dark-blue, 600);
    padding-inline: 20px;
    @include screen-md {
      @include font($font-poppins, 2.5rem, $text-dark-blue, 600);
    }
  }
  .desc {
    @include font($font-poppins, 1rem, $gray-primary2, 400);
    margin-bottom: 10px;
    padding-inline: 20px;
    @include screen-md {
      @include font($font-poppins, 1.375rem, $gray-primary2, 400);
    }
  }

  .view-photos-btn {
    @include button($blue-primary, 20px, 10px, 8px);
    @include font($font-inter, 0.857rem, white, 600);
    margin-top: 50px;
    margin-inline: auto;
  }

  .view-photos-button {
    @extend .view-photos-btn;
    @include screen-md {
      display: none;
    }
  }

  .view-photos-button-md {
    @extend .view-photos-btn;
    // display: none;
    @include screen-sm {
      display: none;
    }
  }
  .carousel {
    @include flex(row, 20px);
    padding-right: 0 !important ;

    .gallery-image {
      height: 290px;
      aspect-ratio: 1/1;
      -webkit-border-radius: 20px;
      -moz-border-radius: 20px;
      -ms-border-radius: 20px;
      -o-border-radius: 20px;
      border-radius: 20px;
    }
  }
}

.top-courses {
  position: relative;
  padding-block: 30px;
  overflow: hidden;

  h2 {
    text-align: center;
    margin-bottom: 40px;
  }
  padding-inline: 30px;
  .courses-cards {
    @include flex(row, 20px);
    flex-wrap: wrap;
    // @include screen-md {
    //   display: none;
    // }
  }
  .half-circle {
    position: absolute;
    top: -30%;
    right: -30px;
    background-color: $bg-light-blue;
    height: 264px;
    z-index: -1;
    aspect-ratio: 1/1;
    -o-border-radius: 50%;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    -ms-border-radius: 50%;
    border-radius: 50%;
  }
}

//Numbers
section.numbers {
  background-color: #f8fafc;
}
.numbers-container {
  display: flex;
  align-items: center;
  justify-content: space-between;
  @include screen-sm {
    flex-direction: column;
  }
  .number-increase {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-block: 40px;
    padding-inline: 40px;
    gap: 10px;
    .ticker-custom-style {
      @include font($font-inter, 2rem, "", 600);
    }

    p {
      @include font($font-inter, 0.875rem, "", 400);
    }
  }
  .vertical-line {
    border-left: 4px solid #e2e8f0;
    height: 60px;
    @include screen-sm {
      display: none;
    }
  }
}

//nav tabs
ul.nav-tabs {
  justify-content: center;
  border: 0;
  margin-bottom: 20px;
  gap: 20px;
  li.nav-item {
    button.nav-link {
      border: 0;
      color: white;
      width: 180px;
      border-radius: 8px;
      background-color: #808080;
      &.active {
        border: 0;
        background-color: $blue-primary;
      }
    }
  }
}
