@use "../abstracts" as *;

.hero-header {
  @include screen-md {
    display: none;
  }
  .hero-text {
    div {
      @include flex(column, 20px);
    }
    padding: 32px;

    @include screen-md {
      width: 50%;
      padding-inline: 100px;
    }

    .title {
      @include font($font-dmsans, 2.5rem, "", 700);
      @include screen-md {
        font-size: 0.75rem;
      }
    }
    .desc {
      @include font($font-poppins, "", $gray-primary, 400);
    }
    .get-started-button {
      @include button($blue-primary, 28px, 8px, 8px);
      @include font($font-inter, 0.857rem, white, 600);
    }
  }
  img {
    padding: 0;
    width: 100%;
    @include screen-md {
      display: none;
    }
  }
}

.gallery {
  @include screen-md {
    @include flex(row, 20px);
  }
  background-color: $bg-light-blue;
  padding-block: 40.25px;
  overflow: hidden;

  .view-photos-btn {
    @include button($blue-primary, 20px, 10px, 8px);
    @include font($font-inter, 0.857rem, white, 600);
    margin-top: 50px;
    margin-inline: auto;
  }

  .gallery-text {
    padding-left: 16px;
    @include screen-md {
      width: 30%;
      padding-left: 30px;
    }
    @include screen-lg {
      padding-left: 60px;
    }
    .title {
      @include font($font-poppins, 1.875rem, $text-dark-blue, 600);
      @include screen-md {
        @include font($font-poppins, 2.5rem, $text-dark-blue, 600);
      }
    }
    .desc {
      @include font($font-poppins, 1rem, $gray-primary2, 400);
      margin-bottom: 10px;
      @include screen-md {
        @include font($font-poppins, 1.375rem, $gray-primary2, 400);
      }
    }
    .view-photos-button-md {
      @extend .view-photos-btn;
      margin-inline: 0;
      @include screen-sm {
        display: none;
      }
    }
  }

  .view-photos-button {
    @extend .view-photos-btn;
    @include screen-md {
      display: none;
    }
  }

  .carousel {
    @include flex(row, 20px);
    padding-right: 0 !important ;

    .gallery-image {
      height: 290px;
      aspect-ratio: 1/1;
      -webkit-border-radius: 20px;
      -moz-border-radius: 20px;
      -ms-border-radius: 20px;
      -o-border-radius: 20px;
      border-radius: 20px;
    }
  }

  .owl-cont {
    width: 70%;
    owl-carousel-o {
      display: flex;
      justify-content: center;
      align-items: center;
      .owl-theme .owl-nav {
        text-align: start;
        .owl-btn {
          height: 20px;
          width: 30px;
          text-align: center;
          padding: 0px;
        }
        .owl-prev {
          @extend .owl-btn;
          background-color: $blue-primary;
          -webkit-border-radius: 50% 0px 0px 50%;
          -moz-border-radius: 50% 0px 0px 50%;
          -ms-border-radius: 50% 0px 0px 50%;
          -o-border-radius: 50% 0px 0px 50%;
          border-radius: 50% 0px 0px 50%;
        }

        .owl-next {
          @extend .owl-btn;
          background-color: #05a1dd;
          -webkit-transform: translateX(-10px);
          -moz-transform: translateX(-10px);
          -ms-transform: translateX(-10px);
          -o-transform: translateX(-10px);
          transform: translateX(-10px);
          border-radius: 0px 50% 50% 0px;
          -webkit-border-radius: 0px 50% 50% 0px;
          -moz-border-radius: 0px 50% 50% 0px;
          -ms-border-radius: 0px 50% 50% 0px;
          -o-border-radius: 0px 50% 50% 0px;
        }
      }
    }
    .owl-stage {
      height: 250px;
      @include screen-lg {
        height: 500px;
      }
    }

    .owl-item img {
      border-radius: 16px;
      -webkit-border-radius: 16px;
      -moz-border-radius: 16px;
      -ms-border-radius: 16px;
      -o-border-radius: 16px;
      transform: translateY(20%);
      -webkit-transform: translateY(20%);
      -moz-transform: translateY(20%);
      -ms-transform: translateY(20%);
      -o-transform: translateY(20%);
      -webkit-filter: brightness(30%);
      filter: brightness(30%);
    }
    .owl-item.center img {
      width: 130%;
      transition: all 700ms;
      -webkit-transition: all 700ms;
      -moz-transition: all 700ms;
      -ms-transition: all 700ms;
      -o-transition: all 700ms;
      -webkit-transform: translateX(-10%);
      -moz-transform: translateX(-10%);
      -ms-transform: translateX(-10%);
      -o-transform: translateX(-10%);
      transform: translateX(-10%);
      -webkit-filter: brightness(100%);
      filter: brightness(100%);
    }
  }
}

.top-courses {
  position: relative;
  padding-block: 30px;
  overflow: hidden;

  h2 {
    text-align: center;
    margin-bottom: 40px;
  }
  padding-inline: 30px;
  .courses-cards {
    @include flex(row, 20px);
    flex-wrap: wrap;
  }
  .half-circle {
    position: absolute;
    top: -30%;
    right: -30px;
    background-color: $bg-light-blue;
    height: 264px;
    z-index: -1;
    aspect-ratio: 1/1;
    -o-border-radius: 50%;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    -ms-border-radius: 50%;
    border-radius: 50%;
  }
}

//Numbers
section.numbers {
  background-color: #f8fafc;
}
.numbers-container {
  display: flex;
  align-items: center;
  justify-content: space-between;
  @include screen-sm {
    flex-direction: column;
  }
  .number-increase {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-block: 40px;
    padding-inline: 40px;
    gap: 10px;
    .ticker-custom-style {
      @include font($font-inter, 2rem, "", 600);
    }

    p {
      @include font($font-inter, 0.875rem, "", 400);
    }
  }
  .vertical-line {
    border-left: 4px solid #e2e8f0;
    height: 60px;
    @include screen-sm {
      display: none;
    }
  }
}

//nav tabs
ul.nav-tabs {
  justify-content: center;
  border: 0;
  margin-bottom: 20px;
  gap: 20px;
  li.nav-item {
    button.nav-link {
      border: 0;
      color: white;
      width: 140px;
      @include screen-lg {
        width: 180px;
      }
      border-radius: 8px;
      background-color: #808080;
      &.active {
        border: 0;
        background-color: $blue-primary;
      }
    }
  }
}
