<section>
  <div class="hero-header">
    <div class="hero-text">
      <div>
        <h1 class="title">
          Better <span class="light-blue-text">Insights</span> For Business
          <span class="light-blue-text">Growth</span>
        </h1>
        <p class="desc">
          Learn UI-UX Design skills with weekend UX . The latest online learning
          system and material that help your knowledge growing.
        </p>
        <button type="button" class="get-started-button" title="Get Started">
          Get Started
        </button>
      </div>
    </div>
    <img
      src="images/Group 2216.svg"
      alt="girl home"
      class="hero-image mobile-content"
    />
  </div>
  <app-banner></app-banner>
</section>
<section class="numbers">
  <div class="numbers-container">
    @if(isBrowser){
    <div class="number-increase text-md-center">
      <om-number-ticker
        [countTo]="250"
        styleClass="ticker-custom-style"
      ></om-number-ticker>
      <p>Courses by our best mentors</p>
    </div>
    <div class="vertical-line"></div>
    <div class="number-increase text-md-center">
      <om-number-ticker
        [countTo]="1000"
        styleClass="ticker-custom-style"
      ></om-number-ticker>
      <p>Courses by our best mentors</p>
    </div>
    <div class="vertical-line"></div>
    <div class="number-increase text-md-center">
      <om-number-ticker
        [countTo]="15"
        styleClass="ticker-custom-style"
      ></om-number-ticker>
      <p>Courses by our best mentors</p>
    </div>
    <div class="vertical-line"></div>
    <div class="number-increase text-md-center">
      <om-number-ticker
        [countTo]="2400"
        styleClass="ticker-custom-style"
      ></om-number-ticker>
      <p>Courses by our best mentors</p>
    </div>
    }
  </div>
</section>

<section>
  <div class="gallery">
    <div class="gallery-text">
      <p class="title">
        <span class="light-blue-text">Check</span> our latest Media Gallery
      </p>
      <p class="desc">
        Every picture holds a moment, every moment holds a story
      </p>
      <button
        type="button"
        class="view-photos-button-md"
        title="View All Photos"
      >
        View All Photos
      </button>
    </div>
    @if(deviceService.isMobileDevice()){
    <div class="carousel scroll-x">
      @for(img of sliderImages; track img.id){
      <img
        [src]="img.image"
        alt="gallery image {{ img.id }}"
        class="gallery-image"
      />
      }
    </div>
    } @else{
    <div class="owl-cont">
      <owl-carousel-o [options]="customOptions">
        @for (image of sliderImages; track image.id) {
        <ng-template carouselSlide [id]="image.id.toString()">
          <img [src]="image.image" alt="gallery image" />
        </ng-template>
        }
      </owl-carousel-o>
    </div>
    }

    <button type="button" class="view-photos-button" title="View All Photos">
      View All Photos
    </button>
  </div>
</section>
<section>
  <div class="top-courses">
    <h2>Top Courses</h2>
    @if(deviceService.isMobileDevice()){
    <div class="courses-cards">
      @for(course of coursesList.slice(0,3);track course.id){
      <app-course-card [course]="course"></app-course-card>
      }
    </div>
    } @else {
    <ul ngbNav #nav="ngbNav" [(activeId)]="active" class="nav-tabs">
      <li [ngbNavItem]="1">
        <button ngbNavLink>All</button>
        <ng-template ngbNavContent>
          <div class="nav-cards">
            <div class="row">
              @for (course of filterCourses('all');track course.id){
              <app-course-card
                [course]="course"
                class="col-md-4 col-lg-3 col-6 g-3"
              ></app-course-card>
              }
            </div>
          </div>
        </ng-template>
      </li>
      <li [ngbNavItem]="2">
        <button ngbNavLink>Development</button>
        <ng-template ngbNavContent>
          <div class="nav-cards">
            <div class="row">
              @for (course of filterCourses('Development');track course.id){
              <app-course-card
                [course]="course"
                class="col-md-4 col-lg-3 col-6 g-3"
              ></app-course-card>
              }
            </div>
          </div>
        </ng-template>
      </li>
      <li [ngbNavItem]="3">
        <button ngbNavLink>Data Science</button>
        <ng-template ngbNavContent>
          <div class="">
            <div class="row">
              @for (course of filterCourses('Data Science');track course.id){
              <app-course-card
                [course]="course"
                class="col-md-4 col-lg-3 col-6 g-3"
              ></app-course-card>
              }
            </div>
          </div>
        </ng-template>
      </li>
      <li [ngbNavItem]="4">
        <button ngbNavLink>DevOps</button>
        <ng-template ngbNavContent>
          <div class="">
            <div class="row">
              @for (course of filterCourses('DevOps');track course.id){
              <app-course-card
                [course]="course"
                class="col-md-4 col-lg-3 col-6 g-3"
              ></app-course-card>
              }
            </div>
          </div>
        </ng-template>
      </li>
      <li [ngbNavItem]="5">
        <button ngbNavLink>Cloud Computing</button>
        <ng-template ngbNavContent>
          <div class="">
            <div class="row">
              @for (course of filterCourses('Cloud Computing');track course.id){
              <app-course-card
                [course]="course"
                class="col-md-4 col-lg-3 col-6 g-3"
              ></app-course-card>
              }
            </div>
          </div>
        </ng-template>
      </li>
    </ul>
    <div [ngbNavOutlet]="nav" class="mt-2"></div>
    <div class="half-circle"></div>
    }
  </div>
</section>
