<div class="navbar-container">
  <div class="nav-content d-flex justify-content-between">
    <div class="nav-logo" routerLink="/home">
      <img src="/images/logo 1.png" alt="Linkdev Logo" class="h-100" />
    </div>
    <div class="nav-menu">
      <img
        src="/icons/menu.svg"
        alt="Nav menu"
        class="nav-menu-icon"
        (click)="toggleMenu()"
      />
      <div class="nav-menu-items" [class.open]="isMenuOpen">
        <div class="cart-image" routerLink="/shopping-cart">
          <img src="icons/cart-blue.svg" alt="cart icon" class="" />
          <div class="circle">{{ coursesCount }}</div>
        </div>

        <button class="login">Log In</button>
        <button class="signup">Sign Up</button>
      </div>
    </div>
  </div>
</div>
