<section>
  <div class="content">
    <div class="logo">
      <img src="images/logo.png" alt="Linkdev Logo" class="w-100" />
    </div>
    <div class="desc">
      <p>
        Empowering learners through accessible and engaging online education.
        Byway is a leading online learning platform dedicated to providing
        high-quality, flexible, and affordable educational experiences.
      </p>
    </div>
    <div class="get-help">
      <h3>Get Help</h3>
      <ul>
        <li>Contact Us</li>
        <li>Latest Articles</li>
        <li>FAQ</li>
      </ul>
    </div>
    <div class="contact">
      <h3>Contact Us</h3>
      <ul>
        <li>Address: 123 Main Street,Anytown,CA 12345</li>
        <li>Tel: +(123) 456-7890</li>
        <li>Mail: bywayedu&#64;webkul.in</li>
      </ul>
      <img
        src="images/social.svg"
        alt="social links"
        class="social-img w-100"
      />
      <div class="social-icons">
        <img src="/icons/facebook.png" alt="" />
        <img src="/icons/twitter.png" alt="" />
        <img src="/icons/google.png" alt="" />
        <img src="/icons/github.png" alt="" />
      </div>
    </div>
    <div class="copyright">
      <p>Copyright © 2024 Link Development. All rights reserved</p>
    </div>
  </div>
</section>
