<section class="checkout">
  <div class="data">
    <div class="text">
      <div class="bread">
        <h2>Checkout Page</h2>
        <app-breadcrumb></app-breadcrumb>
      </div>
      <div class="checkout-form">
        <form (ngSubmit)="onSubmit()" [formGroup]="checkoutForm" class="">
          <div class="left">
            <div class="row">
              <div
                class="country-input col-12 col-md-6 d-flex flex-column p-fluid"
              >
                <label for="country"
                  >Country <span class="text-danger">*</span></label
                >
                <p-autocomplete
                  formControlName="country"
                  inputId="country"
                  [suggestions]="filteredCountries()"
                  (completeMethod)="searchCountries($event)"
                  (onSelect)="onCountrySelected($event)"
                  placeholder="Enter Country"
                  [forceSelection]="true"
                  [style]="{ width: '100%' }"
                  [styleClass]="'w-100 align-self-stretch'"
                  [inputStyle]="{ width: '100%' }"
                  required
                  fluid
                />
              </div>
              <div class="state-input col-12 col-md-6 d-flex flex-column">
                <label for="country"
                  >State <span class="text-danger">*</span></label
                >
                <p-autocomplete
                  formControlName="state"
                  [suggestions]="filteredStates()"
                  (completeMethod)="searchStates($event)"
                  placeholder="Enter State"
                  required
                  [forceSelection]="true"
                  [style]="{ width: '100%' }"
                  [styleClass]="'w-100 align-self-stretch'"
                  [inputStyle]="{ width: '100%' }"
                />
              </div>
            </div>
            <p class="payment-method mt-3">Payment Method</p>
            <div class="payment-details">
              <div class="d-flex justify-content-between">
                <div class="d-flex gap-2">
                  <input type="radio" value="Credit/Debit Card" checked />
                  <p class="credit-debit">Credit/Debit Card</p>
                </div>
                <img src="/images/visa.png" alt="Visa Master Card" />
              </div>
              <div class="d-flex flex-column mt-1">
                <label for="cardName"
                  >Name of Card <span class="text-danger">*</span></label
                >
                <input
                  pInputText
                  type="text"
                  id="cardName"
                  name="cardName"
                  formControlName="cardName"
                  (invalid)="isInvalid('cardNumber')"
                  placeholder="Enter Your Name"
                  [style]="{ width: '100%' }"
                  required
                />
              </div>
              <div class="d-flex flex-column mt-1">
                <label for="number"
                  >Card Number <span class="text-danger">*</span></label
                >
                <p-inputMask
                  formControlName="cardNumber"
                  mask="9999 9999 9999 9999"
                  [slotChar]="''"
                  placeholder="Enter Your Card Number"
                  [style]="{ width: '100%' }"
                  [styleClass]="'w-100 align-self-stretch'"
                  required
                />
              </div>
              <div class="row mt-1">
                <div class="col-12 col-md-6 d-flex flex-column">
                  <label for="date"
                    >Expiry Date <span class="text-danger">*</span></label
                  >
                  <p-datepicker
                    formControlName="expiryDate"
                    view="month"
                    [readonlyInput]="true"
                    [dateFormat]="'mm/yy'"
                    [style]="{ width: '100%' }"
                    [styleClass]="'w-100 align-self-stretch'"
                    [inputStyle]="{ width: '100%' }"
                    required
                    [minDate]="currentMonthDate"
                  />
                </div>
                <div class="col-12 col-md-6 d-flex flex-column">
                  <label for="cvv"
                    >CVV <span class="text-danger">*</span></label
                  >
                  <p-password
                    formControlName="cvv"
                    feedback="false"
                    required
                    maxLength="3"
                    (invalid)="isInvalid('cvv')"
                    [style]="{ width: '100%' }"
                    [styleClass]="'w-100 align-self-stretch'"
                    [inputStyle]="{ width: '100%' }"
                    [feedback]="false"
                    autocomplete="off"
                    fluid
                  />
                </div>
              </div>
            </div>
          </div>
        </form>
      </div>
    </div>
    <div class="details">
      <app-order-price
        [totalDiscount]="cousesService.totalDiscount()"
        [totalPrice]="cousesService.totalPrice()"
      ></app-order-price>
      <button class="proceed" type="submit">Pay Now</button>
    </div>
  </div>
</section>
