<section class="checkout">
  <div class="data">
    <div class="text">
      <div class="bread">
        <h2>Checkout Page</h2>
        <app-breadcrumb></app-breadcrumb>
      </div>
      <div class="checkout-form">
        <form (ngSubmit)="onSubmit($event)" [formGroup]="checkoutForm" class="">
          <div class="left">
            <div class="row">
              <div
                class="country-input col-12 col-md-6 d-flex flex-column p-fluid"
              >
                <label for="country"
                  >Country <span class="text-danger">*</span></label
                >
                <p-autocomplete
                  formControlName="country"
                  inputId="country"
                  (onFocus)="checkoutForm.get('country')?.markAsDirty()"
                  [suggestions]="filteredCountries()"
                  (completeMethod)="searchCountries($event)"
                  (onSelect)="onCountrySelected($event)"
                  placeholder="Enter Country"
                  [forceSelection]="true"
                  [style]="{ width: '100%' }"
                  [styleClass]="'w-100 align-self-stretch'"
                  [inputStyle]="{ width: '100%' }"
                  (OnFocus)="checkoutForm.get('state')?.disable()"
                  required
                  fluid
                />
              </div>
              <div class="state-input col-12 col-md-6 d-flex flex-column">
                <label for="state"
                  >State <span class="text-danger">*</span></label
                >
                <p-autocomplete
                  formControlName="state"
                  [suggestions]="filteredStates()"
                  (completeMethod)="searchStates($event)"
                  (onFocus)="checkoutForm.get('country')?.markAsDirty()"
                  placeholder="Enter State"
                  required
                  [forceSelection]="true"
                  [style]="{ width: '100%' }"
                  [styleClass]="'w-100 align-self-stretch'"
                  [inputStyle]="{ width: '100%' }"
                />
              </div>
            </div>
            <p class="payment-method mt-3">Payment Method</p>
            <div class="payment-details">
              <div class="d-flex justify-content-between">
                <div class="d-flex gap-2">
                  <label for="credit-debit"></label>
                  <input
                    type="radio"
                    value="Credit/Debit Card"
                    checked
                    aria-label="credit-debit"
                  />
                  <p class="credit-debit">Credit/Debit Card</p>
                </div>
                <img src="/images/visa.png" alt="Visa Master Card" />
              </div>
              <div class="d-flex flex-column mt-1">
                <label for="cardName"
                  >Name of Card <span class="text-danger">*</span></label
                >
                <input
                  pInputText
                  formControlName="cardName"
                  type="text"
                  id="cardName"
                  name="cardName"
                  placeholder="Enter Your Name"
                  [style]="{ width: '100%' }"
                  required
                  (onFocus)="checkoutForm.get('cardName')?.markAsTouched()"
                />
                @if(checkoutForm.get('cardName')?.invalid &&
                checkoutForm.get('cardName')?.touched){
                <div class="text-danger">
                  Name must be 3 or 4 words (letters only).
                </div>
                }
              </div>
              <div class="d-flex flex-column mt-1">
                <label for="number"
                  >Card Number <span class="text-danger">*</span></label
                >
                <input
                  pInputText
                  formControlName="cardNumber"
                  maxlength="19"
                  minlength="19"
                  placeholder="Enter Your Card Number"
                  [style]="{ width: '100%' }"
                  (input)="onCardInput($event)"
                  inputmode="numeric"
                  autocomplete="cc-number"
                  fluid
                  required
                />
              </div>
              <div class="row mt-1">
                <div class="col-12 col-md-6 d-flex flex-column">
                  <label for="date"
                    >Expiry Date <span class="text-danger">*</span></label
                  >
                  <p-datepicker
                    formControlName="expiryDate"
                    view="month"
                    [readonlyInput]="true"
                    [dateFormat]="'mm/yy'"
                    [style]="{ width: '100%' }"
                    [styleClass]="'w-100 align-self-stretch'"
                    [inputStyle]="{ width: '100%' }"
                    required
                    [minDate]="currentMonthDate"
                    (onFocus)="checkoutForm.get('expiryDate')?.markAsDirty()"
                  />
                </div>
                <div class="col-12 col-md-6 d-flex flex-column">
                  <label for="cvv"
                    >CVV <span class="text-danger">*</span></label
                  >
                  <input
                    pInputText
                    id="cvv"
                    formControlName="cvv"
                    feedback="false"
                    required
                    maxLength="3"
                    (onFocus)="checkoutForm.get('cvv')?.markAsDirty()"
                    [style]="{ width: '100%', '-webkit-text-security': 'disc' }"
                    autocomplete="off"
                    fluid
                  />
                </div>
              </div>
            </div>
          </div>
        </form>
      </div>
    </div>
    <div class="details">
      <app-order-price
        [totalDiscount]="cousesService.totalDiscount()"
        [totalPrice]="cousesService.totalPrice()"
      ></app-order-price>

      <div class="flex justify-center gap-2">
        <p-toast />
        <p-confirmdialog />
        <button
          pButton
          class="proceed"
          type="submit"
          (click)="onSubmit($event)"
        >
          Pay Now
        </button>
      </div>
    </div>
  </div>
</section>
