<nav class="breadcrumb-container" aria-label="breadcrumb">
  <ol class="breadcrumb">
    @for(item of breadcrumbs; track $index){
    <li class="breadcrumb-item">
      @if (!item.isLast) {
      <a [routerLink]="item.url" class="breadcrumb-link">
        {{ item.label }}
      </a>
      } @if (item.isLast) {
      <span class="breadcrumb-current">
        {{ item.label }}
      </span>
      } @if (!item.isLast) {
      <span class="breadcrumb-separator">></span>
      }
    </li>
    }
  </ol>
</nav>
